<section>
  <h2>Rezerva-ti locul la eveniment</h2>
  <div class="container">
    <div class="grid grid--1x3">
      <div class="card-container">
        <div>
          <h3 id="card-silver--text">Bilet Silver</h3>
          <img class="card-img" src="./images/ticket_image.png" alt="" />
          <ul>
            <li class="list-checkmark">4,5 ore de training intensiv</li>
            <li class="list-checkmark">
              <b class="red">CADOU</b
              ><b>
                Cartea "DECIZII RADICALE" Editia a II-a, revizuita si
                adaugita</b
              >
            </li>
            <li class="list-checkmark">
              Manualul de curs alb-negru, cu spatii pretiparite pentru
              notite.
            </li>
          </ul>
        </div>
        <div class="card-price">
          <p class="text-upper">investitia ta:</p>
          <p class="red">50 ron</p>
        </div>
      </div>
      <!-- Card gold -->
      <div id="gold" class="card-container">
        <div>
          <h3 id="card-gold--text">Bilet Silver</h3>
          <img class="card-img" src="./images/ticket_image.png" alt="" />
          <ul>
            <li class="list-checkmark">4,5 ore de training intensiv</li>
            <li class="list-checkmark">
              <strong>CADOU</strong
              ><b>
                Cartea "DECIZII RADICALE" Editia a II-a, revizuita si
                adaugita</b
              >
            </li>
            <li class="list-checkmark">
              Manualul de curs alb-negru, cu spatii pretiparite pentru
              notite.
            </li>
            <li class="list-checkmark-yellow">
              <strong>Varianta audio a cartii DECIZII RADICALE</strong>
            </li>
            <li class="list-checkmark-yellow">
              <b class="yellow">Video training 4D</b> - cei 4 piloni ai
              transformarii totale
            </li>
          </ul>
          <p class="yellow text-upper text-center"><b>important:</b></p>
          <p class="text-center">
            Platesti 1 si primesti 2 bilete GOLD cu toate beneficiile
            incluse.<br />Unul pentru tine, unul pentru un invitat.
          </p>
        </div>
        <div class="card-price">
          <p class="text-upper">investitia ta:</p>
          <p class="red">100 ron</p>
        </div>
      </div>
      <!-- Card vip -->
      <div class="card-container">
        <div>
          <h3 id="card-diamond--text">Bilet V.I.P</h3>
          <img class="card-img" src="./images/ticket_vip_img.png" alt="" />
          <ul>
            <li class="list-checkmark-green">
              4,5 ore de training intensiv
            </li>
            <li class="list-checkmark">
              <strong>CADOU</strong
              ><b>
                Cartea "DECIZII RADICALE" Editia a II-a, revizuita si
                adaugita</b
              >
            </li>
            <li class="list-checkmark">
              <b class="green">Manualul de curs,</b>
              <b>cu spatii pretiparite pentru notite</b> (color, 44 de
              pagini)
            </li>
            <li class="list-checkmark">
              <strong>Varianta audio a cartii DECIZII RADICALE</strong>
            </li>
            <li class="list-checkmark-green">
              <b class="green">Video training 4D</b> - cei 4 piloni ai
              transformarii totale
            </li>
            <li class="list-checkmark">
              <b>Intrare in sala cu prioritate</b>
            </li>
            <li class="list-checkmark">Loc in primele randuri, ccentral</li>
            <li class="list-checkmark-green">
              <b class="green">Webinar de aprofundare dupa workshop</b>, cu
              raspunsuri de la Andy pentru clarificare si implementare
            </li>
          </ul>
          <p class="green text-upper text-center"><b>important:</b></p>
          <p class="text-center">
            <b
              >Platesti 1 si primesti 2 bilete GOLD cu toate beneficiile
              incluse.<br />Unul pentru tine, unul pentru un invitat.</b
            >
          </p>
        </div>
        <div class="card-price">
          <p class="text-upper">investitia ta:</p>
          <p class="red">200 ron</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-center"><a class="btn--red" href="">alege orasul in care ne vedem</a></div>
</section>