<div class="container card-container">
  <h3 id="card-gold--text">Bilet Silver</h3>
  <img class="card-img" src="./images/ticket_image.png" alt="" />
  <ul>
    <li class="list-checkmark">4,5 ore de training intensiv</li>
    <li class="list-checkmark">
      <b class="red">CADOU</b
      ><b> Cartea "DECIZII RADICALE" Editia a II-a, revizuita si adaugita</b>
    </li>
    <li class="list-checkmark">
      Manualul de curs alb-negru, cu spatii pretiparite pentru notite.
    </li>
    <li class="list-yellow-checkmark">
      <strong>Varianta audi a cartii DECIZII RADICALE</strong>
    </li>
    <li class="list-yellow-checkmark">
      <b class="yellow">Video training 4D</b> - cei 4 piloni ai transformarii
      totale
    </li>
  </ul>
  <p class="yellow text-upper text-center"><b>important:</b></p>
  <p class="text-center">
    Platesti 1 si primesti 2 bilete GOLD cu toate beneficiile incluse.<br />Unul
    pentru tine, unul pentru un invitat.
  </p>
  <div class="card-price">
    <p class="text-upper">investitia ta:</p>
    <p class="red">50 ron</p>
  </div>
</div>
