<section class="container">
    <article class="green-card">
      <ol>
        <h4 class="red text-upper">important:</h4>
        <li>Daca doresti mai mult de 5 bilete te rog sa ne trimiti datele tale si ale invitatilor tai la: office@astraining.ro</li>
        <li><strong>Numarul de locuri este limitat de capacitatea efectiva a salii.</strong> Procesarea biletelor se face urmand principiul primul venit, primul servit. Comenzile finalizate cu o zi inainte de eveniment au prioritate.</li>
        <p>Recomandam plata cu cardul pentru ca procesarea biletului se face instant si veti primi automat biletul, pe cand la plata prin transfer bancar poate dura pana la 48 de ore. Daca alegeti plata la eveniment exista riscul de a nu mai prinde loc in sala.</p>
      </ol>
    </article>
  </section>