<main class="container grid grid--1x2">
  <div class="fb-video" data-href="https://www.facebook.com/facebook/videos/10153231379946729/" data-width="450" data-height="300" data-show-text="false">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/facebook/videos/10153231379946729/">
        <a href="https://www.facebook.com/facebook/videos/10153231379946729/">How to Share With Just Friends</a>
        <p>How to share with just friends.</p>
        Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
      </blockquote>
    </div>
  </div>
  <article class="pe-scurt">
    <ul>
      <h2>pe scurt, vei afla...</h2>
      <li class="list-red">
        Cum sa alegi ce este cel mai important obiectiv pentru acest an.
      </li>
      <li class="list-checkmark">
        Cum sa <b>elimini factorii autosabotori</b> si, in special, tendinta de
        amanare.
      </li>
      <li class="list-plus">
        <b>Instrumente de urgenta</b> pentru refocalizarea atentie si
        productivitate personala.
      </li>
      <li class="list-checkmark-red">
        Care sunt
        <b>cele mai importante instrumente de productivitate</b> care functioneaza
        pentru oricine
      </li>
      <div class="flex-center">
        <button class="btn--green_dark">...vezi tot programul</button>
      </div>
    </ul>
  </article>
</main>