<div class="pe-scurt">
  <ul>
    <h2>pe scurt, vei afla...</h2>
    <li class="list-red">
      Cum sa alegi ce este cel mai important obiectiv pentru acest an.
    </li>
    <li class="list-checkmark">
      Cum sa <b>elimini factorii autosabotori</b> si, in special, tendinta de
      amanare.
    </li>
    <li class="list-plus">
      <b>Instrumente de urgenta</b> pentru refocalizarea atentie si
      productivitate personala.
    </li>
    <li class="list-checkmark-red">
      Care sunt
      <b>cele mai importante instrumente de productivitate</b> care functioneaza
      pentru oricine
    </li>
    <div class="flex-center">
      <button class="btn--green_dark">...vezi tot programul</button>
    </div>
  </ul>
</div>
