<section>
  <div class="container grid grid--1x2">
    <article>
      <p>
        Cartea contine la final un <b>program de 5 saptamani</b> pentru
        transformarea radicala a convingerilor limitative (acesta e subiectul
        cartii).
      </p>
      <p>
        In timpul programului voi explica felul in care functioneaza programul,
        iar tu vei avea ocazia sa parcurgi cele 36 de zile de practica
        (aproximativ 4 minute pe zi).
      </p>
      <p><b>De ce fac asta?</b></p>
      <p>
        E simplu! Vreau sa incepi anul cu informatii bune si utile pentru a
        ajunge la obiectivele dorite cu minimum de efort si maximum de rezultat.
      </p>
    </article>
    <div class="flex-center">
      <iframe
        width="100%"
        height="350"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
  </div>
</section>
