<section class="container">
    <h2>ce primesti in plus</h2>
    <div class="grid grid--1x2">
      <div style="padding:69.68% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/675591297?h=0548c8d886&color=ffffff&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <div id="text-vimeo">
        <p>Pentru ca imi doresc, din toata inima, sa reusesti iti mai fac un cadou:</p>
        <p><b>Dupa workshop vei primi acces la un curs de 12 lectii (cate 2 pentru fiecare din cele 6 arii ale vietii)</b> unde vei gasi claritatea de care ai nevoie ca sa reusesti</p>
        <p>cursul este in valoare de <b class="red">187 de euro</b> dar tu, pentru ca vii la eveniment, <b class="blue">il vei primi gratuit.</b></p>
      </div>
    </div>
  </section>