<section class="container">
  <h2>cine este andy szekely?</h2>
  <article class="grid grid--1x2-floats">
    <div>
      <p>
        <strong>Andy Szekely</strong> inoveaza de 21 de ani in piata de training
        si coaching din Romania ca antreprenor, autor si speaker.
      </p>
      <p>
        Andy este speakerul roman care a vorbit pe aceeasi scena cu cei mai
        multi speakeri de top monidal care au vizitat Romania. (Exemple: John
        Maxwell, Robin Sharma, Martin Lindstrom, Bob Proctor, Dr. John Gray,
        Brian Tracy, Dr. Oz) A tinut prezentari comerciale in 7 tari europene si
        traininguri demonstrative in China, SUA si Canada.
      </p>
      <p>
        Este formatorul a peste 40 de speakeri romani care astazi sunt
        prezentati pe scenele tarii si/sau dezvolta afaceri de training si
        coaching (Exemple: Paul Ardeleanu, Raluca Mohanu, Ovidiu Oltean, Zoia
        Zarnescu, Eusebiu Burcas, Marian Dragulescu, Ilinca Paun, Urania
        Cremene, Adrian Erimescu, etc.).
      </p>
    </div>
    <div class="flex-center">
      <img src="./images/image_2.png" alt="" />
    </div>
  </article>
  <div class="grid grid--1x5">
    <div><img src="./images/image_1.png" alt="" /></div>
    <div><img src="./images/image_1.png" alt="" /></div>
    <div><img src="./images/image_1.png" alt="" /></div>
    <div><img src="./images/image_1.png" alt="" /></div>
    <div><img src="./images/image_1.png" alt="" /></div>
  </div>
</section>
