<section class="container">
    <div class="flex-center">
      <img src="./images/clock_icon.png" width="100" alt="" />
    </div>
    <h2>programul workshop-ului</h2>
    <article class="grid grid--1x2">
      <ul>
        <h3>Prima parte a evenimentului DOR</h3>
        <li class="list-checkmark-red">
          <strong
            >Cum sa te ingrijorezi putin si sa actionezi mai mult</strong
          >
        </li>
        <li class="list-checkmark-red">
          De ce obiectivele SMART sunt doar partial bune si cum lucrezi cu
          obiectivele HEART
        </li>
        <li class="list-checkmark-red">
          <strong> Sistemul complet D.O.R in 4 pasi </strong> si de ce
          majoritatea oamenilor se opresc la pasul 2
        </li>
        <li class="list-checkmark-red">
          <strong> Trasatura maestrilor </strong> care ii diferentiaza de
          oamenii mediocri
        </li>
      </ul>
      <ul>
        <h3>A 2-a parte a evenimentului: tehnici si metode</h3>
        <li class="list-checkmark-red">
          <strong>Ce sunt convingerile limitative</strong> si cum se elimina
        </li>
        <li class="list-checkmark-red">
          <strong>Legatura dintre obiective, obiceiuri si rezultate</strong>
        </li>
        <li class="list-checkmark-red">
          <b>"Test:</b
          ><em> Esti un Profitor, Un Daruitor sau un Egalizator?"</em>
        </li>
        <li class="list-checkmark-red">
          <strong>Cum se instaleaza obiceiuri</strong> (ingredientele absolut
          necesare)
        </li>
        <li class="list-checkmark-red">
          <b>Metoda ELF pentru schimbarea convingerilor limitative</b>
        </li>
      </ul>
    </article>
    <div class="flex-center">
      <a href="" class="btn--red">vreau sa particip</a>
    </div>
  </section>