<section class="container about-workshop">
  <h1>ce vei invata la workshop-ul<br />de la obiectiv la rezultat?</h1>
  <div class="grid grid--1x2-floats">
    <ul>
      <li class="list-checkmark-red">
        Cum sa alegi care este
        <strong>cel mai important obiectiv</strong> pentru acest an.
      </li>
      <li class="list-checkmark-red">
        Mecanismul de decizie prin care iti dai seama ce
        <strong>actiuni sa intreprinzi in fiecare zi.</strong>
      </li>
      <li class="list-checkmark-red">
        Cum sa iti imparti ziua in calupuri de
        <strong>productivitate si relaxare.</strong>
      </li>
      <li class="list-checkmark-red">
        Care sunt cele mai
        <strong>importante instrumente de productivitate</strong> testate,
        care functioneaza pentru orice tip de personalitate.
      </li>
      <li class="list-checkmark-red">
        Cum sa <strong>iti alegi mentorii</strong> care se potrivesc cel mai
        bine cu firea ta.
      </li>
      <li class="list-checkmark-red">
        Cum sa te comporti ca un expert atunci cand
        <strong>iti proiectezi lista cu obiective.</strong>
      </li>
    </ul>
    <div class="flex-center">
      <img
        id="image-1"
        src="./images/image_1.png"
        alt=""
        width="90%"
        height="100%"
      />
    </div>
  </div>
  <div class="grid grid--1x2-floats-left features">
    <ul class="features__content">
      <li class="list-checkmark-red">
        Care este fiziologia cea mai potrivita pentru
        <strong>intocmirea listei de obiective</strong> - acesta este, de
        fapt, cel mai important ingredient al transformarii obiectivelor in
        rezultate.
      </li>
      <li class="list-checkmark-red">
        Cum sa <strong>iti pastrezi focalizarea atentiei</strong> pentru
        perioade lungi de timp.
      </li>
      <li class="list-checkmark-red">
        Cum sa <strong>elimini factorii autosabotori</strong> si, in
        special, tendinta de amanare.
      </li>
      <li class="list-plus">
        <b>Instrumente de urgenta</b> pentru refocalizarea atentiei si
        productivitate personala.
      </li>
    </ul>
    <div class="flex-center">
      <img
        id="image-2"
        src="./images/image_2.png"
        alt=""
        width="90%"
        height="100%"
      />
    </div>
  </div>
  <ul>
    <h3>si... cele mai importante pentru dezvoltarea ta</h3>
    <li class="list-checkmark-red">
      <strong>Cum sa lucrezi cu anturajul</strong> si cum sa aplici legea
      consecventei si a conformismului in favoarea ta.
    </li>
    <li class="list-checkmark-red">
      Cum sa folosesti presiunea grupului ca sa
      <strong>castigi motivatie personala.</strong>
    </li>
    <li class="list-checkmark-red">
      Cum poti sa schimbi doar cateva cuvinte din lista ta de obiective si
      astfel sa cresti puterea implinirii obiectivelor tale.
    </li>
  </ul>
  <div class="flex-center"><a href="" class="btn--red">Vin la workshop</a></div>
</section>